<div class="container" ng-controller="SearchCtrl">
  <form>
    <div class="form-group">
      <label for="newUserEmail">Email:</label>
      <input type="email" class="form-control" id="newUserEmail" placeholder="Enter email" ng-model="userEmail" required>
    </div>
    <div class="form-group">
      <label for="neighborhood">Neighborhood:</label>
      <select class="form-control" id="neighborhood" ng-model="userNeighborhood" ng-options="place.area_name for place in neighborhoods" required>
      </select>
    </div>
  </form>
</div>
