<div class="container" ng-controller="SearchCtrl" ng-submit="search()">
  <form ng-show="showForm">
    <div class="form-group">
      <label for="newUserEmail">Email:</label>
      <input type="email" class="form-control" id="newUserEmail" placeholder="Enter email" ng-model="user.email" required>
    </div>

    <div class="form-group">
      <label for="neighborhood">Neighborhood:</label>
      <select class="form-control" id="neighborhood" ng-model="user.neighborhood" ng-options="place.area_name for place in neighborhoods" required>
      </select>
    </div>

    <div class="form-group">
      <label for="newUserPriceRange">Price range:</label>
      <input type="number" class="form-control" id="newUserPriceRange" placeholder="$10.00" ng-model="user.priceRange">
    </div>

    <div class="form-group">
      <label for="newUserCuisine">Cuisines:</label>
      <select class="form-control" id="newUserCuisine" ng-model="user.cuisine" ng-options="item.cuisine for item in cuisines" required>
      </select>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label for="newUserStart">Start time:</label>
        <input type="time" class="form-control" id="newUserStart" ng-model="user.start">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label for="newUserEnd">End time:</label>
        <input type="time" class="form-control" id="newUserEnd" ng-model="user.end">
      </div>
    </div>

    <div class="form-group">
      <label for="newUserGallery">Gallery:</label>
      <select class="form-control" id="newUserGallery" ng-model="user.gallery" ng-options="item.gallery_name for item in galleries" required>
      </select>
    </div>
      <input type="submit" class="form-control" name="Submit">
  </form>

  <div class="container" ng-show="showResult">
    <div class="row">
      <h2>Best Match</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Resturant:</h2>
          <h4>{{ result.restaurant.name }}</h4>
          <p><b>Address:</b> {{ result.restaurant.address }}</p>
          <p><b>Cuisine:</b> {{result.restaurant.cuisine}}</p>
        </div>
        <div class="col-md-4">
          <h2>Food Truck:</h2>
          <h4>{{ result.foodtruck.name }}</h4>
          <p><b>Address:</b> {{ result.foodtruck.address }}</p>
          <p><b>Cuisine:</b> {{ result.foodtruck.cuisine }}</p>
        </div>
        <div class="col-md-4">
          <h2>Museum:</h2>
          <h4>{{ result.museum.name }}</h4>
          <p><b>Style:</b> {{ result.museum.style }}</p>
          <p><b>Galleries:</b></p>
          <p ng-repeat="gallery in result.galleries"> &nbsp;&nbsp;&nbsp;&nbsp; {{ gallery.gallery_name }}</p>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="resetForm()">Go back</button>
    </div>
  </div>
</div>
